<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign Up</title>
  </head>
  <body class= "body-in-up">
    <div class="signup-up">
    <h1 class="h1-signlog">SIGN UP</h1>
    <form class="form-signlog" action="/auth/sign-up" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      
      <button class="signup" type="submit">Sign up</button>
      <p class="have-account" >Already have an account? <a class="log" href="/auth/sign-in"> Log In</a> </p>

    </form>
      
  </div>
  </body>
</html>