<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Log In</title>
  </head>
  <body class= "body-in-up">
    <div class="signin-in">
    <h1 class="h1-signlog">LOG IN</h1>
    <form class="form-signlog" action="/auth/sign-in" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      
      <button class="login2" type="submit">Log in</button>
      <p class="have-account" >Already have an account? <a class="sign" href="/auth/sign-up">Sign Up</a>
      </p>
    </form>
  </div>
  </body>
</html>