<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Daily Planner</title>
  </head>

  <body class="index-body">

  <div class="index-container">
    <h1 class="main-header">DAILY PLANNER</h1>
    <p class="subheader">Planning made easy!</p>
  </div>

  <div class="auth-links">
        <a class="signup-link" href="/auth/sign-up">Sign up</a>
        <a class="login-link" href="/auth/log-in">Log in</a>
  </div>

  </body>
</html>
